<div class="container">
  <div class="hero-unit topic-main">
    <h2>Listing topics</h2>

		<div class="topic-main-sidebar span4">
		  <h3>管理列表</h3>
			<ul class="unstyled">
				<li><%= link_to "管理任务", topics_path %></li>
				<li><%= link_to "添加文章", new_topic_path %></li>
			</ul>
		</div>
		<div class="topic-main-cont span8">
      <table class="table">
        <tr>
          <th>下一个小时出现的文章</th>
          <th class="topic-like">喜欢</th>
          <th class="edit"></th>
          <th class="destroy"></th>
        </tr>

      <% @topics.each do |topic| %>
        <tr>
          <td><%= link_to truncate(strip_tags(topic.body), :length => 80), topic %></td>
          <td class="like" style="text-align: center;"><%= topic.likeable.to_s.split.length %></td>
          <td class="unlike" style="text-align: center;"><%= topic.unlikeable.to_s.split.length %></td>
          <td class="edit"><%= link_to '编辑', edit_topic_path(topic) %></td>
          <td class="destroy"><%= link_to '删除', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </table>
		</div>
  </div>
</div>
