<div class="container" id="home-main">
	<script type="text/javascript">
          $(document).ready(countdown)
          $(document).ready(likeable)
          $(document).ready(unlikeable)
	</script>
	<div class="hero-unit home-main-cont span8">
	  <div class="h-topic-title">
	    <%= (@topic.title).html_safe %>
	  </div>
	  <div class="h-topic-articleline"></div>
	  <%= (@topic.body).html_safe %>

	  <div class="article-foot">
	    <div class="likebox-info">
	      <div class="alert alert-error like-info" style="display:none"><span>+1</span></div>
	      <div class="alert alert-error like-error-info" style="display:none"><span>你已经点击过了</span></div>
	      <div class="alert alert-error unlike-info" style="display:none"><span>-1</span></div>
	      <div class="alert alert-error unlike-error-info" style="display:none"><span>你已经点击过了</span></div>
	    </div>
	    <%= render :partial => "shared/home/likebox" %>
	    <%= render :partial => "shared/home/siteshared" %>
	    <div id="countdown" style="color:red;padding-top:7px;" mce_style="color:red"></div>
	  </div>
	</div>

	<div class="hero-unit home-main-sidebar span3"></div>
</div>
<span id="time" style="display:none;"><%= @time %></span>
