<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Houread</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="header">
      <%= render :partial => "shared/home/header" %>
    </div>
    <% unless notice.blank? %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% unless alert.blank? %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>

    <div class="footer">
      <%= render :partial => "shared/home/footer" %>
    </div>
</body>
</html>
