<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>十月清新</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header">
    <%= render :partial => "shared/home/header" %>
  </div>

  <div class="container">
    <div id="main" style="width:960px;">
      <%= yield %>
    </div>
  </div>

  <div class="footer">
    <%= render :partial => "shared/home/footer" %>
  </div>
  <script type="text/javascript" src="http://tajs.qq.com/stats?sId=23638717" charset="UTF-8"></script>
</body>
</html>
