<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title><%= @title || "我是小清新" %> | 十月清新</title>
  <%= stylesheet_link_tag    "mobile", :media => "all" %>
  <%= javascript_include_tag "mobile" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header">
    <%= render :partial => "mobile/share/header" %>
  </div>

  <div id="main">
    <%= yield %>
  </div>

  <div class="footer">
    <%= render :partial => "mobile/share/footer" %>
  </div>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40081300-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
